**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
stringg=input()
print(len(stringg))

eight
5

In [ ]:
def lenn(stringg):
  counter=0
  for i in stringg:
    counter+=1
  return counter

s="eight"
lenn(s)

5

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [ ]:
def stringgg(stringg):
  if len(stringg) < 2:
    return ''
  return stringg[0:2] + stringg[-2:]

print(stringgg("w3resource"))
print(stringgg("w3"))
print(stringgg("w"))

w3ce
w3w3

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [ ]:
def adding(s):
  if len(s)>2:
    if s[-3:]=="ing":
      s+= "ly"
    else:
      s+= "ing"
  return s

print(adding("string"))
print(adding("abc"))

stringly
abcing

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [ ]:
def find_long(listt):
  longest_word=""
  word_len=0
  for word in listt:
    if len(word)>word_len:
      word_len=len(word)
      longest_word=word

  return longest_word,word_len

l=["Osman","Ertugrul","Dexter","Jax","Turgut"]
find_long(l)

('Ertugrul', 8)

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [ ]:
def ex(s):
  new_s=s[-1]+s[1:-1]+s[0]
  return new_s
w="omar"
ex(w)

'rmao'

In [ ]:
def exx(s):
  s=list(input())
  s[0],s[-1]=s[-1],s[0]
  ss="".join(s)
  return ss
exx(w)

omar

'rmao'

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
def remove_odd(s):
  new_s=""
  for i in range(len(s)):
    if i%2==0:
      new_s=new_s+s[i]
  return new_s
ss="eight"
remove_odd(ss)

'egt'

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [ ]:
def countt(s):
  words=s.lower().split()
  counter=dict()
  for word in words:
    if word in counter:
      counter[word]+=1
    else:
      counter[word]=1
  return counter


ss="amr and ahmed are frindes but amr is the tallest"
countt(ss)

{'amr': 2,
 'and': 1,
 'ahmed': 1,
 'are': 1,
 'frindes': 1,
 'but': 1,
 'is': 1,
 'the': 1,
 'tallest': 1}

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
def UppLow(s):
  print(s.upper())
  print(s.lower())

ss="omar"
UppLow(ss)

OMAR
omar

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [ ]:
def revv(s):
  if len(s)%4==0:
    print(''.join(reversed(s)))

ss="OmarM.Khalil"
revv(ss)

lilahK.MramO

**10- Write a Python program to remove a newline in Python

In [ ]:
def rmvln(s):
  ln=s.split("\n")
  return " ".join(ln)

ss="Omar\nMahmoud\nKhalil"
rmvln(ss)

'Omar Mahmoud Khalil'

**11-Write a Python program to check whether a string starts with specified characters

In [ ]:
def check_spec(s,sc):
  return s.startswith(sc)
s=input("enter a string: ")
sc=input("enter a specified char: ")
check_spec(s,sc)

enter a string: eight
enter a specified char: c

False

**12- Write a Python program to add prefix text to all of the lines in a string

In [ ]:
def pree(s):
  lines=s.split("\n")
  prefix=">>"
  new_lines=[prefix+line for line in lines]
  print("\n".join(new_lines))

s="""line1
line2
line3 """
pree(s)

>>line1
>>line2
>>line3

**13-Write a Python program to print the following numbers up to 2 decimal places

In [ ]:
def twodec(n):
  for num in n:
    print("{:.2f}".format(num))
n=[1.111,8.888,2.222,5.555]
twodec(n)

1.11
8.89
2.22
5.55

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [ ]:
def twodec(n):
  for num in n:
    print("{:+.2f}".format(num))
n=[+1.111,-8.888,-2.222,5.555]
twodec(n)

+1.11
-8.89
-2.22
+5.55

**15-Write a Python program to display a number with a comma separator

In [ ]:
def coma(n):
    print(f"{n:,}")
n=8888888
coma(n)

8,888,888

**16-Write a Python program to reverse a string using 2 ways

In [ ]:
s=input()
print(s[::-1])

eight
thgie

In [ ]:
def rev(s):
  temp=""
  for i in s:
        temp = i + temp
  return temp
s=input()
rev(s)

eight

'thgie'

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [ ]:
def rep(s):
  count={}
  for i in s:
    if i in count:
      count[i]+=1
    else:
      count[i]=1
  return count

s="dictionary"
rep(s)

{'d': 1, 'i': 2, 'c': 1, 't': 1, 'o': 1, 'n': 1, 'a': 1, 'r': 1, 'y': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [ ]:
def repp(s):
  c=[]
  count={}
  for i in s:
    if i in count:
      count[i]+=1
    else:
      count[i]=1
      c.append(i)
  for i in c:
    if count[i] == 1:
      return i

s="dictionary"
repp(s)

'd'

**19-Write a Python program to remove spaces from a given string

In [ ]:
s="Omar Mahmoud Khalil"
s.replace(" ","")

'OmarMahmoudKhalil'

**20-Write a Python program to count the number of non-empty substrings of a given string

In [ ]:
def cou(s):
  return int(len(s)*(len(s)+1)/2)
s="abc"
cou(s)

6

**21-write a Python program to swap first and last element of any list.

In [ ]:
def swp(l):
  l[0],l[-1]=l[-1],l[0]
  print(l)
ll=[8,88,888,28]
swp(ll)

[28, 88, 888, 8]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [ ]:
list=[23,65,19,90]
list[0],list[2]=list[2],list[0]
print(list)

[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [ ]:
l=[8,88,888,28]
print("first way:",len(l))

c=0
for i in l:
  c+=1
print("second way:",c)

print("third way:",len([i for i in l]))

print("fourth way:",l.__len__())

first way: 4
second way: 4
third way: 4
fourth way: 4

**24-write a Python code to find the Maximum number of list of numbers.

In [ ]:
l=[8,88,888,28]
max=0
for i in range(len(l)):
  if l[i]>max:
      max=l[i]
print(max)

888

**25-write a Python code to find the Minimum number of list of numbers.

In [ ]:
l=[8,88,888,28,0.8]
min=l[0]
for i in range(len(l)):
  if l[i]<min:
      min=l[i]
print(min)

0.8

**26-search for if an elem is existing in list

In [ ]:
l=[8,88,888,28]
if 888 in l:
  print("true the number exists")
else:
  print("nope")

true the number exists

**27- clear python list using different ways

In [ ]:
l=[8,88,888,28]
print("first way:",l.clear())

l=[8,88,888,28]
while l:
  l.pop()
print("second way:",l)

first way: None
second way: []

**28-remove duplicated elements from a list

In [ ]:
l=[8,88,888,28,8,88,888]
ll=set(l)
print(ll)

{8, 88, 888, 28}

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [ ]:
test_list=["Gfg",3,"is",8]
print(test_list)

key_list=["name","id"]

new_list=[]
for i in range(0,len(test_list), 2):
    new_list.append({key_list[0]: test_list[i], key_list[1] : test_list[i+ 1]})

print(new_list)

['Gfg', 3, 'is', 8]
[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [ ]:
l=[8,88,888,28,8,88,888]
ll=set(l)
print(ll)
print(len(ll))

{8, 88, 888, 28}
4

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

In [ ]:
def ext(l,k):
  dic={}
  for i in l:
    if i in dic:
      dic[i]+=1
    else:
      dic[i]=1
  result=[i for i,n in dic.items() if n>k]
  return result
l=[4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
k=3
ext(l,3)

[4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [ ]:
def strong(l):
  strongest=list()
  for i in range(len(l)-1):
      strongest.append(max(l[i],l[i+1]))
  return strongest

l=[1,2,2,3,4,5]
print(strong(l))

[2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [ ]:
def com(l):
  for i in range(len(l)):
        for j in range(len(l)):
            for k in range(len(l)):
                if (i!=j and j!=k and i!=k):
                    print(l[i],l[j],l[k])
l=[1,2,3]
com(l)

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [ ]:
def comm(l):
  comb=[]
  for i in range(len(l)):
        for j in range(i,len(l)):
          comb.append(l[i:j+1])
  return comb
l=[1,2,3]
comm(l)

[[1], [1, 2], [1, 2, 3], [2], [2, 3], [3]]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [ ]:
def unique_com(l1, l2):
    unique_comb = []
    for i in l1:
        for j in l2:
            unique_comb.append([(i,j)])
    return unique_comb
l=["a","b"]
k=[1,2]
unique_com(l,k)

[[('a', 1)], [('a', 2)], [('b', 1)], [('b', 2)]]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

In [ ]:
def rmv(l,e):
  while e in l:
    l.remove(e)
  return l
l=[1,1,2,3,4,5,1,2,1]
rmv(l,1)

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [ ]:
def rep(l1,l2):
  replaced_list=l1.copy()
  index=0
  for i in l2:
    if index <len(replaced_list):
      replaced_list[index]=l1[i]
    else:
      replaced_list.append(l1[i])
    index +=1
  return replaced_list
l1=['Gfg', 'is', 'best']
l2=[0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
rep(l1,l2)

['Gfg',
 'is',
 'best',
 'is',
 'Gfg',
 'Gfg',
 'Gfg',
 'best',
 'is',
 'is',
 'best',
 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3
Output : [] )

In [ ]:
def rec(l,k,n):
  return ([i for i in l if i.count(k)==n])

l=[(4, 5, 5, 4), (5, 4, 3)]
k=5
n=2
print(rec(l,k,n))

l=[(4, 5, 5, 4), (5, 4, 3)]
k=5
n=3
print(rec(l,k,n))

[(4, 5, 5, 4)]
[]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
def sortcolumn(arr, cindex):
    sarr = sorted(arr, key=lambda x: x[cindex])
    return sarr
arr = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]

print("Sorted array specific to column 0:", sortcolumn(arr, cindex=0))

print("Sorted array specific to column 1:", sortcolumn(arr, cindex=1))

print("Sorted array specific to column 2:", sortcolumn(arr, cindex=2))

Sorted array specific to column 0: [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1: [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2: [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [ ]:
dic={'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
keyss=list(dic.keys())
keyss.sort()
dicc={i: dic[i] for i in keyss}
print("by key",dicc)

dicv = dict(sorted(dic.items(), key=lambda item: item[1]))
print("by value",dicv)

by key {'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}
by value {'yash': 2, 'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [ ]:
dic= {'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'}
K = 6

d = {}
for i in dic:
	if not (isinstance(dic[i], int) and dic[i] > K):
		d[i]=dic[i]
print(d)

{'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for i in (dic1, dic2, dic3): dic4.update(i)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [ ]:
d = {'Red': 1, 'Green': 2, 'Blue': 3}
for key, value in d.items():
     print(key, d[key])

Red 1
Green 2
Blue 3

**44- Write a Python script to merge two Python dictionaries

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3 = {}
for i in (dic1, dic2): dic3.update(i)
print(dic3)

{1: 10, 2: 20, 3: 30, 4: 40}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [ ]:
dic={1: 8, 2: 88, 3: 888, 4: 28, 5: 8888, 6: 280}
print("max:",max(dic.values()))
print("min:",min(dic.values()))

max: 8888
min: 8

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [ ]:
dic = {'c1': 'Red', 'c2': 'Green', 'c3':None}
dic = {key:value for (key, value) in dic.items() if value is not None}
print(dic)

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [ ]:
tup = (8,88,888,28)
print(tup[2])

888

**48-Write a Python program to unpack a tuple into several variables

In [ ]:
tup= (8,88,888)
n1,n2,n3=tup
print(n1)
print(n2)
print(n3)

8
88
888

**49-Write a Python program to add an item to a tuple

In [ ]:
tup=(8,88,888,28)
n=280
ntup=tup+(n,)
print(ntup)

(8, 88, 888, 28, 280)

**50-Write a Python program to convert a tuple to a string

In [ ]:
tup= (8,88,888,28)
s= str(tup)
print(s)

(8, 88, 888, 28)

**51-Write a Python program to convert a list to a tuple

In [ ]:
l=[8,88,888,28]
tup=tuple(l)
print(tup)

(8, 88, 888, 28)

**52-Write a Python program to reverse a tuple

In [ ]:
tup= (8,88,888,28)
reversed= tuple(reversed(tup))
print(reversed)

(28, 888, 88, 8)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [ ]:
def rep(tup,v):
    l= [(*t[:-1],v) for t in tup]
    return l
l=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
v= 100
print(rep(l,v))

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [ ]:
s="python 3.0 <class 'str'>"
tup=tuple(s)
print(tup)

('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0', ' ', '<', 'c', 'l', 'a', 's', 's', ' ', "'", 's', 't', 'r', "'", '>')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [ ]:
def calcAVG(tups):
    total_sum = 0
    total_elements = 0

    for i in tups:
        for n in i:
            total_sum += n
            total_elements += 1

    if total_elements == 0:
        return None
    else:
        avg = total_sum / total_elements
        return avg

tup = ((8, 88, 888), (5, 55, 555), (9, 99, 999))
avg = calcAVG(tup)

if avg is not None:
    print("Avg:", avg)
else:
    print("empty")

Avg: 300.6666666666667

**56-Write a Python program to add member(s) to a set.

In [ ]:
s= {1, 2, 3, 4}
s.add(888)

s.update([28,88,8])

print(s)

{1, 2, 3, 4, 8, 888, 88, 28}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [ ]:
s= {1, 2, 3, 4, 5}
n= 3

if n in s:
    s.remove(n)
    print(f"{n} removed")
else:
    print(f"{n} not found")

print(s)

3 removed
{1, 2, 4, 5}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [ ]:
set1 = {1, 2, 3, 8, 88}
set2 = {8, 88, 6, 7,28}

intersection = set1 & set2
print("Intersection:", intersection)

union = set1 | set2
print("Union:", union)

difference = set1 - set2
print("Difference (set1 - set2):", difference)

symmetric_difference = set1 ^ set2
print("Symmetric Difference:", symmetric_difference)

Intersection: {8, 88}
Union: {1, 2, 3, 6, 7, 8, 88, 28}
Difference (set1 - set2): {1, 2, 3}
Symmetric Difference: {1, 2, 3, 6, 7, 28}

**59-Write a Python program to find the maximum and minimum values in a set

In [ ]:
s={8,88,888,28}
print("Maximum value:", max(s))
print("Minimum value:", min(s))

Maximum value: 888
Minimum value: 8

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [ ]:
def pair(l,s):
    pairs = []

    for i in range(len(l)):
        for j in range(i + 1, len(l)):
            if l[i]+l[j]==s:
                pairs.append((l[i], l[j]))
    return pairs
l= [1, 2, 3, 4, 5, 6, 7]
s=7
print(pair(l,s))

[(1, 6), (2, 5), (3, 4)]