# Session 2 Tasks

1. Create 3 variables to store street, city and country, now create address variable to
store entire address. Use two ways of creating this variable, one using + operator and the other using f-string.
Now Print the address in such a way that the street, city and country prints in a separate line
2. Create a variable to store the string "Earth revolves around the sun"
    1. Print "revolves" using slice operator
    2. Print "sun" using negative index
3. Create two variables to store how many fruits and vegetables you eat in a day.
Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.
4. I have a string variable called s='maine 200 banana khaye'. This of course is a
wrong statement, the correct statement is 'maine 10 samosa khaye'.
Replace incorrect words in original strong with new ones and print the new string.
Also try to do this in one line.

In [ ]:
#1
Street="888 Wall St"
City="New York"
Country="USA"
address = Street + "\n" + City + "\n" + Country
print(address)
print("************************************")
Street="888 Charming"
City="California"
Country="USA"
address = f"{Street}\n{City}\n{Country}"
print(address)

888 Wall St
New York
USA
************************************
888 Charming
California
USA

In [ ]:
#2
x="Earth revolves around the sun"
revolves = x[6:14]
print(revolves)
sun=x[-3:]
print(sun)

revolves
sun

In [ ]:
#3
veggies=8
fruits=8
print(f"I eat {veggies} veggies and {fruits} fruits daily")

I eat 8 veggies and 8 fruits daily

In [ ]:
#4
s='maine 200 banana khaye'
new_s = s.replace('200', '10').replace('banana', 'samosa')
print(new_s)

maine 10 samosa khaye

1. Let us say your expense for every month are listed below.
	  1. January -  2200
    2. February - 2350
    3. March - 2600
    4. April - 2130
    5. May - 2190

Create a list to store these monthly expenses and using that find out,

    1. In Feb, how many dollars you spent extra compare to January?
    2. Find out your total expense in first quarter (first three months) of the year.
    3. Find out if you spent exactly 2000 dollars in any month
    4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
    5. You returned an item that you bought in a month of April and
    got a refund of 200$. Make a correction to your monthly expense list
    based on this

2. You have a list of your favourite marvel super heros.
```
heros=['spider man','thor','hulk','iron man','captain america']
```

Using this find out,

    1. Length of the list
    2. Add 'black panther' at the end of this list
    3. You realize that you need to add 'black panther' after 'hulk',
       so remove it from the list first and then add it after 'hulk'
    4. Now you don't like thor and hulk because they get angry easily :)
       So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
       Do that with one line of code.
    5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [ ]:
expenses=[2200,2350,2600,2130,2190]

extra_feb=expenses[1]-expenses[0]
print("the extra in feb=",extra_feb)

total_exp_qua=expenses[1]+expenses[0]+expenses[2]
print("the totallll=",total_exp_qua)

spent_2000_dollars = False
c = 0
while c < len(expenses):
    if expenses[c] == 2000:
        spent_2000_dollars = True
        break
    c+= 1
print("Did you spend exactly 2000 dollars in any month?", spent_2000_dollars)

expenses.append(1980)
print("Updated expenses:",expenses)

refund= 200
expenses[3]-=refund
print("Corrected expenses:",expenses)

the extra in feb= 150
the totallll= 7150
Did you spend exactly 2000 dollars in any month? False
Updated expenses: [2200, 2350, 2600, 2130, 2190, 1980]
Corrected expenses: [2200, 2350, 2600, 1930, 2190, 1980]

In [ ]:
heros = ['spider man', 'thor', 'hulk', 'iron man', 'captain america']

length= len(heros)
print("Length of the list:", length)

heros.append('black panther')
print("adding 'black panther':", heros)

heros.remove('black panther')
heros.insert(heros.index('hulk') + 1, 'black panther')
print("adding 'black panther' after 'hulk':", heros)

heros[heros.index('thor'):heros.index('hulk') + 1] = ['doctor strange']
print("replacing 'thor' and 'hulk' with 'doctor strange':", heros)

heros.sort()
print("sorting in alphabetical order:", heros)

print("\nBlack Widow is the best BTW")

Length of the list: 5
adding 'black panther': ['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
adding 'black panther' after 'hulk': ['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
replacing 'thor' and 'hulk' with 'doctor strange': ['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']
sorting in alphabetical order: ['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

Black Widow is the best BTW

Write a program that prints following shape

```
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
```

In [ ]:
rows=5
i=0
while i<rows:
  spaces = rows-i-1
  stars = 2*i+1
  print(" " * spaces + "*" * stars)
  i += 1

i = rows-2
while i >= 0:
    spaces = rows -i-1
    stars = 2*i+1
    print(" " * spaces + "*" * stars)
    i -= 1

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *